## Pertemuan 2

##Library

* Istall Library
* Deklarasi Library
* Library bisa disebut sebagai kumpulan kode yang dapat digunakan berulang kali dalam program yang berbeda
* https://www.geeksforgeeks.org/libraries-in-python/

In [6]:
# install library mlxtend
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.5.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (4.38.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [7]:
import pandas as pd
import numpy as np

# import apriori from library mixtend
from mlxtend.frequent_patterns import apriori, association_rules

## Dataset

* Membuat dataset transaksi sebagai dataframe
* Cek dataset transaksi

In [8]:
# membuat data tabular yang terdiri dari data transaksi
df = pd.DataFrame(
    {
        "ID Transaksi": pd.Series([1, 2, 3, 4, 5]),
        "Item": pd.Series([["Susu", "Roti", "Biskuit", "Mentega"], \
                          ["Susu", "Biskuit", "Gula", "Kopi"], \
                          ["Gula", "Kopi", "Susu"], ["Kopi", "Biskuit", "Susu", "Gula"], \
                          ["Mentega", "Roti", "Kopi"]]),
    }
)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID Transaksi  5 non-null      int64
 1   Item          5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [10]:
df

   ID Transaksi                            Item
0             1  [Susu, Roti, Biskuit, Mentega]
1             2     [Susu, Biskuit, Gula, Kopi]
2             3              [Gula, Kopi, Susu]
3             4     [Kopi, Biskuit, Susu, Gula]
4             5           [Mentega, Roti, Kopi]

## Encoding data transaksi

In [11]:
df = df.explode('Item')
df

   ID Transaksi     Item
0             1     Susu
0             1     Roti
0             1  Biskuit
0             1  Mentega
1             2     Susu
1             2  Biskuit
1             2     Gula
1             2     Kopi
2             3     Gula
2             3     Kopi
2             3     Susu
3             4     Kopi
3             4  Biskuit
3             4     Susu
3             4     Gula
4             5  Mentega
4             5     Roti
4             5     Kopi

In [12]:
basket = (df.groupby (['ID Transaksi', 'Item'])['Item']. count()\
          .unstack(). reset_index(). fillna(0) \
          .set_index('ID Transaksi'))
basket.head()

Item          Biskuit  Gula  Kopi  Mentega  Roti  Susu
ID Transaksi
1                 1.0   0.0   0.0      1.0   1.0   1.0
2                 1.0   1.0   1.0      0.0   0.0   1.0
3                 0.0   1.0   1.0      0.0   0.0   1.0
4                 1.0   1.0   1.0      0.0   0.0   1.0
5                 0.0   0.0   1.0      1.0   1.0   0.0

In [13]:
#@title
df_encode = df.groupby

## Algoritma Apriori
Eksekusi  algoritma apriori menggunakan library mlxtend dengan fungsi apriori

## Apriori Tahap 1
Eliminasi itemset berdasarkan minimum support

In [15]:
# set minimum support 60%
frequent_itemsets = apriori(basket, min_support = 0.6, use_colnames = True)

# print(list(frequent_itemset))
frequent_itemsets

   support            itemsets
0      0.6           (Biskuit)
1      0.6              (Gula)
2      0.8              (Kopi)
3      0.8              (Susu)
4      0.6     (Susu, Biskuit)
5      0.6        (Gula, Kopi)
6      0.6        (Gula, Susu)
7      0.6        (Susu, Kopi)
8      0.6  (Gula, Susu, Kopi)

## Apriori Tahap 2
Perhitungan confidence

In [16]:
rules = association_rules(frequent_itemsets,metric ="confidence", min_threshold=0.6)
rules [["antecedents", "consequents", "support","confidence"]]

     antecedents   consequents  support  confidence
0         (Susu)     (Biskuit)      0.6        0.75
1      (Biskuit)        (Susu)      0.6        1.00
2         (Gula)        (Kopi)      0.6        1.00
3         (Kopi)        (Gula)      0.6        0.75
4         (Gula)        (Susu)      0.6        1.00
5         (Susu)        (Gula)      0.6        0.75
6         (Susu)        (Kopi)      0.6        0.75
7         (Kopi)        (Susu)      0.6        0.75
8   (Gula, Susu)        (Kopi)      0.6        1.00
9   (Gula, Kopi)        (Susu)      0.6        1.00
10  (Susu, Kopi)        (Gula)      0.6        1.00
11        (Gula)  (Susu, Kopi)      0.6        1.00
12        (Susu)  (Gula, Kopi)      0.6        0.75
13        (Kopi)  (Gula, Susu)      0.6        0.75

## Soal

In [17]:
frequent_itemsets = apriori(basket, min_support = 0.4, use_colnames = True)

# print(list(frequent_itemset))
frequent_itemsets

    support                     itemsets
0       0.6                    (Biskuit)
1       0.6                       (Gula)
2       0.8                       (Kopi)
3       0.4                    (Mentega)
4       0.4                       (Roti)
5       0.8                       (Susu)
6       0.4              (Gula, Biskuit)
7       0.4              (Biskuit, Kopi)
8       0.6              (Susu, Biskuit)
9       0.6                 (Gula, Kopi)
10      0.6                 (Gula, Susu)
11      0.6                 (Susu, Kopi)
12      0.4              (Mentega, Roti)
13      0.4        (Gula, Biskuit, Kopi)
14      0.4        (Gula, Susu, Biskuit)
15      0.4        (Susu, Biskuit, Kopi)
16      0.6           (Gula, Susu, Kopi)
17      0.4  (Gula, Susu, Biskuit, Kopi)

In [19]:
rules = association_rules(frequent_itemsets,metric ="confidence", min_threshold=0.4)
rules [["antecedents", "consequents", "support","confidence"]]

              antecedents            consequents  support  confidence
0                  (Gula)              (Biskuit)      0.4    0.666667
1               (Biskuit)                 (Gula)      0.4    0.666667
2               (Biskuit)                 (Kopi)      0.4    0.666667
3                  (Kopi)              (Biskuit)      0.4    0.500000
4                  (Susu)              (Biskuit)      0.6    0.750000
5               (Biskuit)                 (Susu)      0.6    1.000000
6                  (Gula)                 (Kopi)      0.6    1.000000
7                  (Kopi)                 (Gula)      0.6    0.750000
8                  (Gula)                 (Susu)      0.6    1.000000
9                  (Susu)                 (Gula)      0.6    0.750000
10                 (Susu)                 (Kopi)      0.6    0.750000
11                 (Kopi)                 (Susu)      0.6    0.750000
12              (Mentega)                 (Roti)      0.4    1.000000
13                 (Roti)              (Mentega)      0.4    1.000000
14        (Gula, Biskuit)                 (Kopi)      0.4    1.000000
15           (Gula, Kopi)              (Biskuit)      0.4    0.666667
16        (Biskuit, Kopi)                 (Gula)      0.4    1.000000
17                 (Gula)        (Biskuit, Kopi)      0.4    0.666667
18              (Biskuit)           (Gula, Kopi)      0.4    0.666667
19                 (Kopi)        (Gula, Biskuit)      0.4    0.500000
20           (Gula, Susu)              (Biskuit)      0.4    0.666667
21        (Gula, Biskuit)                 (Susu)      0.4    1.000000
22        (Susu, Biskuit)                 (Gula)      0.4    0.666667
23                 (Gula)        (Susu, Biskuit)      0.4    0.666667
24                 (Susu)        (Gula, Biskuit)      0.4    0.500000
25              (Biskuit)           (Gula, Susu)      0.4    0.666667
26        (Susu, Biskuit)                 (Kopi)      0.4    0.666667
27           (Susu, Kopi)              (Biskuit)      0.4    0.666667
28        (Biskuit, Kopi)                 (Susu)      0.4    1.000000
29                 (Susu)        (Biskuit, Kopi)      0.4    0.500000
30              (Biskuit)           (Susu, Kopi)      0.4    0.666667
31                 (Kopi)        (Susu, Biskuit)      0.4    0.500000
32           (Gula, Susu)                 (Kopi)      0.6    1.000000
33           (Gula, Kopi)                 (Susu)      0.6    1.000000
34           (Susu, Kopi)                 (Gula)      0.6    1.000000
35                 (Gula)           (Susu, Kopi)      0.6    1.000000
36                 (Susu)           (Gula, Kopi)      0.6    0.750000
37                 (Kopi)           (Gula, Susu)      0.6    0.750000
38  (Gula, Susu, Biskuit)                 (Kopi)      0.4    1.000000
39     (Gula, Susu, Kopi)              (Biskuit)      0.4    0.666667
40  (Gula, Biskuit, Kopi)                 (Susu)      0.4    1.000000
41  (Susu, Biskuit, Kopi)                 (Gula)      0.4    1.000000
42           (Gula, Susu)        (Biskuit, Kopi)      0.4    0.666667
43        (Gula, Biskuit)           (Susu, Kopi)      0.4    1.000000
44           (Gula, Kopi)        (Susu, Biskuit)      0.4    0.666667
45        (Susu, Biskuit)           (Gula, Kopi)      0.4    0.666667
46           (Susu, Kopi)        (Gula, Biskuit)      0.4    0.666667
47        (Biskuit, Kopi)           (Gula, Susu)      0.4    1.000000
48                 (Gula)  (Susu, Biskuit, Kopi)      0.4    0.666667
49                 (Susu)  (Gula, Biskuit, Kopi)      0.4    0.500000
50              (Biskuit)     (Gula, Susu, Kopi)      0.4    0.666667
51                 (Kopi)  (Gula, Susu, Biskuit)      0.4    0.500000